.vscode/settings.json
old samples/5.tif
old samples/6.tif
old samples/7.tif
old samples/8.tif
old samples/9.tif
old samples/10.tif
old samples/11.tif
old samples/12.tif
old samples/13.tif
old samples/14.tif
old samples/15.tif
old samples/16.tif
old samples/17.tif
old samples/18.tif
old samples/19.tif
old samples/20.tif
old samples/21.tif
old samples/27.tif
old samples/28.tif
old samples/29.tif
old samples/30.tif
old samples/31.tif
old samples/32.tif
old samples/33.tif
old samples/34.tif
old samples/35.tif
old samples/36.tif
old samples/37.tif
old samples/38.tif
old samples/39.tif
old samples/40.tif
old samples/41.tif
old samples/42.tif
old samples/43.tif
old samples/44.tif
old samples/45.tif
old samples/46.tif
old samples/47.tif
old samples/53.tif
old samples/54.tif
old samples/55.tif
old samples/56.tif
old samples/57.tif
old samples/58.tif
old samples/59.tif
old samples/60.tif
old samples/61.tif
old samples/62.tif
old samples/63.tif
old samples/64.tif
old samples/65.tif
old samples/66.tif
old samples/67.tif
old samples/73.tif
old samples/74.tif
old samples/75.tif
old samples/76.tif
old samples/77.tif
old samples/78.tif
old samples/79.tif
old samples/80.tif
old samples/81.tif
old samples/82.tif
old samples/83.tif
old samples/84.tif
old samples/85.tif
old samples/86.tif
old samples/87.tif
old samples/88.tif
old samples/89.tif
old samples/90.tif
old samples/91.tif
old samples/92.tif
old samples/93.tif
old samples/94.tif
old samples/95.tif
old samples/96.tif
old samples/97.tif
old samples/98.tif
old samples/99.tif
old samples/100.tif
old samples/101.tif
old samples/102.tif
old samples/103.tif
old samples/104.tif
old samples/105.tif
old samples/106.tif
old samples/107.tif
old samples/118.tif
old samples/119.tif
old samples/120.tif
old samples/121.tif
old samples/122.tif
old samples/123.tif
old samples/124.tif
old samples/125.tif
old samples/126.tif
old samples/127.tif
old samples/128.tif
old samples/129.tif
old samples/130.tif
old samples/131.tif
old samples/132.tif
old samples/133.tif
old samples/134.tif
old samples/135.tif
old samples/136.tif
old samples/137.tif
old samples/138.tif
old samples/139.tif
old samples/140.tif
old samples/141.tif
old samples/142.tif
old samples/143.tif
old samples/144.tif
old samples/145.tif
old samples/146.tif
old samples/147.tif
old samples/148.tif
old samples/149.tif
old samples/155.tif
old samples/156.tif
old samples/157.tif
old samples/158.tif
old samples/159.tif
old samples/160.tif
old samples/161.tif
old samples/162.tif
old samples/163.tif
old samples/164.tif
old samples/165.tif
old samples/166.tif
old samples/167.tif
old samples/168.tif
old samples/169.tif
old samples/170.tif
old samples/images.csv
old samples/Macro.ijm
old test/0.tif
old test/1.tif
old test/2.tif
old test/3.tif
old test/4.tif
old test/22.tif
old test/23.tif
old test/24.tif
old test/25.tif
old test/26.tif
old test/48.tif
old test/49.tif
old test/50.tif
old test/51.tif
old test/52.tif
old test/68.tif
old test/69.tif
old test/70.tif
old test/71.tif
old test/72.tif
old test/108.tif
old test/109.tif
old test/110.tif
old test/111.tif
old test/112.tif
old test/113.tif
old test/114.tif
old test/115.tif
old test/116.tif
old test/117.tif
old test/150.tif
old test/151.tif
old test/152.tif
old test/153.tif
old test/154.tif
old test/171.tif
old test/172.tif
old test/173.tif
old test/174.tif
old test/175.tif
old test/test_images.csv
